#include <windows.h>
#include "../Variable.h"

1 VERSIONINFO
FILEVERSION ULTRACOPIER_WINDOWS_VERSION
PRODUCTVERSION ULTRACOPIER_WINDOWS_VERSION
FILEFLAGSMASK 0x3fL
FILETYPE VFT_APP
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "ultracopier.first-world.info"
			VALUE "FileVersion", ULTRACOPIER_VERSION
			VALUE "FileDescription", "Ultracopier under GPL3"
			VALUE "InternalName", "ultracopier.exe"
			VALUE "LegalCopyright", "GPL3"
			VALUE "LegalTrademarks", "Ultracopier under GPL3"
			VALUE "OriginalFilename", "ultracopier.exe"
			VALUE "ProductName", "Ultracopier"
			VALUE "ProductVersion", ULTRACOPIER_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}

IDI_ICON1               ICON    DISCARDABLE     "ultracopier.ico"

#ifdef _UNICODE
#if defined _M_IX86
#pragma comment(linker,"/manifestdependency:\"type='win32' name='Microsoft.Windows.Common-Controls' version='6.0.0.0' processorArchitecture='x86' publicKeyToken='6595b64144ccf1df' language='*'\"")
#elif defined _M_IA64
#pragma comment(linker,"/manifestdependency:\"type='win32' name='Microsoft.Windows.Common-Controls' version='6.0.0.0' processorArchitecture='ia64' publicKeyToken='6595b64144ccf1df' language='*'\"")
#elif defined _M_X64
#pragma comment(linker,"/manifestdependency:\"type='win32' name='Microsoft.Windows.Common-Controls' version='6.0.0.0' processorArchitecture='amd64' publicKeyToken='6595b64144ccf1df' language='*'\"")
#else
#pragma comment(linker,"/manifestdependency:\"type='win32' name='Microsoft.Windows.Common-Controls' version='6.0.0.0' processorArchitecture='*' publicKeyToken='6595b64144ccf1df' language='*'\"")
#endif
#endif

#if defined(_M_X64)
1 RT_MANIFEST "ultracopier.exe.amd64.manifest"
#else
1 RT_MANIFEST "ultracopier.exe.x86.manifest"
#endif